<div class="form-group">
    @Html.LabelFor(model => model.Categories, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Categories, new SelectList(Model.Categories, "Id", ""), new { @class = "form-control" } })
    </div>
</div>
