@model IEnumerable<uhrenWelt.ViewModel.ProductVM>
@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<h2>Produkt Bewertungen</h2>

<form method="post" action="/Shop/AddRating">


</form>
