@model IEnumerable<uhrenWelt.ViewModel.ProductVM>

<form class="form-inline" method="get" action="/Shop/Search">
    <select name="categories" style="margin-right:3px;">
        <option hidden="">Kategorie</option>
        <option value=1>Automatisch</option>
        <option value=2>Smartwatch</option>
        <option value=3>Mechanisch</option>
    </select>
    <select name="manufacturer" style="margin-right:5px;">
        <option hidden="">Hersteller</option>
        <option value=1>Rolex</option>
        <option value=2>Breitling</option>
        <option value=3>Tag Heuer</option>
        <option value=4>Hublot</option>
        <option value=5>IWC Schaffhausen</option>
        <option value=6>Longines</option>
        <option value=7>Tudor</option>
        <option value=8>Panerai</option>
    </select>
    <input name="search" class="form-control" placeholder="Suchen..." />
    <button type="submit" class="btn btn-secondary" style="margin-left:3px;">Suchen</button>
</form>