<form class="form-inline" method="post" action="/Account/Login">
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="Email-Adresse">
    <label for="pwd">Password:</label>
    <input type="password" name="password" placeholder="Passwort">
    <label>
        <input type="checkbox" name="remember"> Remember me
    </label>
    <button type="submit">Login</button>
</form>
@if (ViewBag.Message != null && ViewBag.Message == "WrongLoginData")
{
    <br />
    <p style="color:red; text-align: center;">E-Mail-Adresse oder Passwort falsch!</p>
}
