<form class="form-inline" method="post" action="/Account/Login">
    <div class="container">
        <div class="flex-column">
            <div class="col-sm">
                <label for="email">E-Mail:</label>
                <input class="form-control" type="email" name="email" placeholder="Email-Adresse">
            </div>
            <div class="col-sm">
                <label for="password">Passwort:</label>
                <input class="form-control" type="password" name="password" placeholder="Passwort">
            </div>
            <div class="col-sm">
                <button style="margin-top:10px;" class="btn btn-sm btn-secondary" type="submit">Login</button>
            </div>
        </div>
    </div>
</form>

@if (ViewBag.Message != null && ViewBag.Message == "WrongLoginData")
{
    <br />
    <p style="color:red; text-align: center;">E-Mail-Adresse oder Passwort falsch!</p>
}
