body {
    padding-bottom: 1px;
    background-color: #D8E3DA;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*FlexBox*/

.product-filter {
    display: flex;
}
    .product-filter h1 {
        flex-grow: 1;
    }

.sort {
    display: flex;
}

.collection-sort {
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-wrap:wrap;
}

.product-card {
    flex-flow: column;
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    display: flex;
    border: 1px solid #A5ADA7;
    border-radius: 13px;
    margin: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-decoration: none;
    color: #000000;
    background-color: #F2FFF5;
}
    .product-card:hover {
        text-decoration: none;
        color: #000000;
    }

.product-card {
    flex: 1 20%;
}

.product-image img {
    max-width: 100%;
    align-content: flex-start;
}

.product-info {
    margin-top:10px;
    flex: 1 100%;
    flex-flow:row;
    text-align:left;
    font-family: sans-serif;
}

@media (max-width: 920px) {
    .product-card {
        flex: 1 28%;
    }
}

@media (max-width: 600px) {
    .product-card {
        flex: 1 46%;
    }
}

@media (max-width: 480px) {
    .product-filter {
        flex-direction: column;
    }

    .sort {
        align-self: flex-start;
    }
}

/* Erste reiehe 2 Items */
.products .product-card:first-child,
.products .product-card:nth-child(2) {
    flex: 2 39%;
}