<br/>
<p>
    <strong>Impressum</strong>
</p>
<p>Anbieter:<br/>Lukasz Nedza<br/>Düsseldorfsraße 17<br/>1220 Wien</p>
<p>Kontakt:<br/>Telefon: 089/1234567-8<br/>Telefax: 089/1234567-9<br/>E-Mail: mail@uhrenwelt.at<br/>Website: www.uhrenwelt.at</p>
<p> </p>
<p>Bei redaktionellen Inhalten:</p>
<p>Verantwortlich nach § 55 Abs.2 RStV<br/>John Pedro<br/>Simmeringer Hauptstraße 47-49<br/>1110 Wien</p>