@model IEnumerable<uhrenWelt.Data.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">uhrenwelt.at</h1>
    <p class="lead">Verlässlichkeit und Beste Qualität seit mehr als 23 Jahren.</p>
   



    <hr class="my-4">
    <p>Exklusive Marken & Angesagte Modelle zu besten Preisen.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Zu den Angeboten</a>
    </p>
</div>